/*
* styles for the Landing page App.js
*/

.header-section {
  background: url("./Images/news2.jpeg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 960px;
}
.header-inner {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  min-height: 960px
}
.fa {
  color: #00aff0;
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px;
}
.header-inner {
  padding-top: 150px;
}

.header-section h1 {
  color: #ecf0f1;
  font-family: "UnifrakturMaguntia", cursive;
}
.header-section p {
  color: #ecf0f1;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  line-height: 1.3em;
}
 
