/*
* Styles for the News Component of the Application
*/
.box {
    max-height: 250px;
    width: 200px;
    border-radius: 5px;

}

.news-inner {
    padding: 150px;
 
    
}

.news-title {
    font-family: 'Ovo', serif;
    font-size: 32px;
    line-height: 1.3em;
    font-weight: 400;
}

.news-text{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 1.3em;
}



.news-section {
    height: auto;  
}

.articles {
    padding-top: 80px;
    margin-bottom: 10px;
}